<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Blind Pirates co.", root_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to "About", about_path %></li>
          <li><a href="#contact">Bands</a></li>
          <li><a href="#contact">Resources</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>